html, body{
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
/*使删除信息提示在中间*/
.layout-content-main .listitem .itemtipcontent .itemtip div{
  display: block;
}

.detail .ivu-input[disabled], fieldset[disabled] .ivu-input{
  cursor: unset;
  background-color: unset;
  color: unset;
  border: none;
}
.detail .ivu-checkbox-wrapper-disabled, .detail .ivu-checkbox-disabled, .detail .ivu-checkbox-input[disabled], .detail .ivu-checkbox-disabled+span{
  cursor: default;
}
